@model Book

@{
    ViewData["Title"] = "";
   
    
    
}

<h1 class ="test"> @Model.Title </h1>

<div class="test">
    <p><strong>@Model.Author</strong></p>
    <p>@Model.Descripton</p>
    <p><strong>@Model.Price</strong></p> 

    <form action="@Url.Action("Add", "Cart")" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button class="btn btn-outline-success" type="submit">В корзину</button>
    </form>
</div>

